<!DOCTYPE html>
<html>
<head>
  <title>Editor CKEditor 5</title>
  <script src="/ckeditor5-build-classic/ckeditor.js"></script>
</head>
<body>
  <h1>Editor CKEditor 5</h1>
  <form action="/save" method="post">
    <textarea name="content" id="editor"><%- content %></textarea>
    <button type="submit">Guardar</button>
  </form>

  <script>
    ClassicEditor
      .create( document.querySelector( '#editor' ) )
      .catch( error => {
        console.error( error );
      } );
  </script>
</body>
</html>